* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 30px;
}

.fruit-counter {
    margin: 10px 0 10px 0;
    padding: 30px 40px 30px 40px;
    justify-content: center;
    align-items: center;
    min-width: 332px;

    display: flex;
    border-radius: 5px;
    border: solid 1px;
}

.fruit-counter button {
    padding: 5px;
    height: 30px;
    width: 30px;
    flex-shrink: 0;
}

.fruit-counter p {
    margin: 5px;
    font-weight: bolder;
    font-size: 24px;
    flex-shrink: 0;
}

#fruit-number {
    margin: 5px;
    font-weight: normal;
    font-size: 18px;
    flex-shrink: 0;
}

#reset-button {
    padding: 10px;
    margin-bottom: 30px;
    min-width: 332px;
}

form {
    margin-top: 10px;
    min-width: 332px;

    display: flex;
    flex-direction: column;

    border: solid purple 1px;
}

form > * {
    margin: 10px;
}

input {
    margin-left: 5px;
    padding: 2px;
}

select {
    margin-top: 0;
}

.radio-button-container {
    display: flex;
}

#textfield-label {
    margin-bottom: 0;
}

#textfield {
    padding: 5px;
    margin-top: 0;
}

#daytime, #nighttime, #terms-and-conditions {
    margin-right: 5px;
}

button[type="submit"] {
    margin-top: 0;
    width: fit-content;
    padding: 0 5px 0 5px;
}

/*---------------CSS styling for selected fruits---------------*/
.fruit-counter-clicked {
    margin: 10px 0 10px 0;
    padding: 30px 40px 30px 40px;
    justify-content: center;
    align-items: center;
    min-width: 332px;

    display: flex;
    border-radius: 5px;
    border: solid darkgreen 2px;
}

.fruit-counter-clicked button {
    padding: 5px;
    height: 30px;
    width: 30px;
    flex-shrink: 0;
}

.fruit-counter-clicked p {
    margin: 5px;
    font-weight: bolder;
    font-size: 24px;
    flex-shrink: 0;
}